@import "primeicons/primeicons.css";
@import "./normalize.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--p-stone-100);
}

.h1-heading {
  margin-left: 2rem;
  font-size: 2.25rem;
  color: var(--p-stone-800);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
  padding: 0 0 0 2rem;
}

.card {
  width: 25rem;
  overflow: hidden;
}

.flex {
  display: flex;
}

.form-container {
  padding: 0 1rem 0 2rem;
}

.padding {
  padding: 0.5rem 0 0.5rem 0;
}

.spacer {
  padding-bottom: 1.5rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--p-emerald-800);
}

.navbar h1 {
  margin: 0;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.navbar a {
  text-decoration: none;
  color: var(--p-stone-50);
}

.navbar a:hover {
  color: var(--p-gray-300);
}

.navbar ul {
  list-style: none;
  gap: 1rem;
  padding-inline: 1rem;
}

.table-container {
  padding: 1rem 1rem 0 2rem;
}
